services:
  -
    class: WP_CLI\Tests\PHPStan\ParseUrlFunctionDynamicReturnTypeExtension
    tags:
      - phpstan.broker.dynamicFunctionReturnTypeExtension
  -
    class: WP_CLI\Tests\PHPStan\GetFlagValueFunctionDynamicReturnTypeExtension
    tags:
      - phpstan.broker.dynamicFunctionReturnTypeExtension
  -
    class: WP_CLI\Tests\PHPStan\WPCliRuncommandDynamicReturnTypeExtension
    tags:
      - phpstan.broker.dynamicStaticMethodReturnTypeExtension
parameters:
  dynamicConstantNames:
    - FOO
  strictRules:
    allRules: false
    disallowedLooseComparison: false
    booleansInConditions: false
    uselessCast: false
    requireParentConstructorCall: false
    disallowedConstructs: false
    overwriteVariablesWithLoop: false
    closureUsesThis: false
    matchingInheritedMethodNames: false
    numericOperandsInArithmeticOperators: false
    strictCalls: false
    switchConditionsMatchingType: false
    noVariableVariables: false
    strictArrayFilter: false

# Add the schema from phpstan-strict-rules so it's available without loading the extension
# and the above configuration works.
parametersSchema:
  strictRules: structure([
    allRules: anyOf(bool(), arrayOf(bool())),
    disallowedLooseComparison: anyOf(bool(), arrayOf(bool())),
    booleansInConditions: anyOf(bool(), arrayOf(bool()))
    uselessCast: anyOf(bool(), arrayOf(bool()))
    requireParentConstructorCall: anyOf(bool(), arrayOf(bool()))
    disallowedConstructs: anyOf(bool(), arrayOf(bool()))
    overwriteVariablesWithLoop: anyOf(bool(), arrayOf(bool()))
    closureUsesThis: anyOf(bool(), arrayOf(bool()))
    matchingInheritedMethodNames: anyOf(bool(), arrayOf(bool()))
    numericOperandsInArithmeticOperators: anyOf(bool(), arrayOf(bool()))
    strictCalls: anyOf(bool(), arrayOf(bool()))
    switchConditionsMatchingType: anyOf(bool(), arrayOf(bool()))
    noVariableVariables: anyOf(bool(), arrayOf(bool()))
    strictArrayFilter: anyOf(bool(), arrayOf(bool()))
  ])
