<phpunit
	bootstrap="tests/bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertWarningsToExceptions="true"
	convertNoticesToExceptions="true"
	convertDeprecationsToExceptions="true"
	>
	<testsuites>
		<testsuite name="default">
			<directory prefix="Spec" suffix=".php">tests/</directory>
			<directory prefix="Test" suffix=".php">tests/tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
