<?xml version="1.0" ?>
<phpunit
	bootstrap="tests/bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertWarningsToExceptions="true"
	convertNoticesToExceptions="true"
	convertDeprecationsToExceptions="true"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
	>
	<testsuites>
		<testsuite name="default">
			<directory prefix="Test" suffix=".php">tests/tests</directory>
		</testsuite>
	</testsuites>

	<coverage processUncoveredFiles="false">
		<include>
			<directory suffix=".php">src</directory>
		</include>
	</coverage>
</phpunit>
